@font-face {
  font-family: "Pokemon Solid";
  src: url("../assets/fonts/pokemon_solid.woff2") format("woff2"),
    url("../assets/fonts/pokemon_solid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

header {
  font-family: "Pokemon Solid", sans-serif;
  color: yellow;
  text-align: center;
  margin: 0; /* Remove any margin around the header */
  font-size: 3rem;
  text-shadow: 3px 3px 0px #000, -3px -3px 0px #000, 3px -3px 0px #000,
    -3px 3px 0px #000, 0px 3px 0px #000, 0px -3px 0px #000, 3px 0px 0px #000,
    -3px 0px 0px #000;
  letter-spacing: 2px; /* Add space between letters */
}

@media (max-width: 480px) {
  header {
    font-size: 1.5rem; /* Smaller font size for phones */
  }
}

h1 {
  margin: 10px;
}

footer {
  font-family: "Pokemon Solid", sans-serif;
  color: grey;
  text-align: center;
  margin-top: 20px;
}

.refresh-button {
  margin-top: none;
  padding: 15px 30px; /* Adjust padding for better responsiveness */
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05),
    transform 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  display: block; /* Ensure the button is block-level to center it */
  margin-left: auto;
  margin-right: auto; /* Center the button */
}

.refresh-button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Add a slight scaling effect on hover */
}
